body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.card .card-header {
    background-color: #dc3545;
    font-weight: 600;
    color: #fff;
    border-bottom: 0;
}

form .btn.btn-light.btn-block {
    background-color: #dc3545;
    color: #fff;
    border: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    font-weight: 600;
}

form .btn.btn-light.btn-block:hover {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    background-color: gainsboro;
    color: slategray;
}

.card .fas .fa-sort-down,
.card .fas.fa-sort-up {
    transition: all 0.3s ease-in-out;
}

.card .fas.fa-sort-down:hover,
.card .fas.fa-sort-up:hover {
    transition: all 0.3s ease-in-out;
    color: #dc3545;
}

.card .list-group .list-group-item {
    background-color: #f8f8ff;
}

.navbar,
.navbar-collapse {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        justify-content: flex-end;
    }

    .mb-3 {
        margin-bottom: 0;
    }
}
